<p id="notice"><%= notice %></p>

<h1>Events</h1>
<h2>Search</h2>
<%= form_tag(events_path, :method => "get", id: "search-form") do %>
  <div class="field">
    <%= text_field_tag :name, params[:name], placeholder: "Name" %>
    <%= select_tag "local", options_from_collection_for_select(Local.all, "id", "name", params[:local]), include_blank: true %>
    <%= select_tag "organization", options_from_collection_for_select(Organization.all, "id", "name", params[:organization]), include_blank: true %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Local</th>
      <th>Organization</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.local.name %></td>
        <td><%= event.organization.name %></td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.status %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
