<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @event.local.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @event.organization.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Types:</strong>
  <%= @event.type_ids.size %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
